services:
    service_booking.test:
        build:
            context: ./docker/8.4/service-booking
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.4/service_booking
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${SERVICE_BOOKING_PORT:-80}:80'
            - '${SERVICE_BOOKING_VITE_PORT:-5173}:${SERVICE_BOOKING_VITE_PORT:-5173}'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}/service-booking'
        volumes:
            - './service-booking:/var/www/html/service-booking'
        networks:
            - sail
        depends_on:
            - mysql
            - redis
            - mailpit
            - minio
    only_client_crm.test:
        build:
            context: ./docker/8.4/only-client-crm
            dockerfile: Dockerfile
            args:
                WWWGROUP: '${WWWGROUP}'
        image: sail-8.4/only_client_crm
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        ports:
            - '${ONLY_CLIENT_CRM_PORT:-81}:80'
            - '${ONLY_CLIENT_CRM_VITE_PORT:-5174}:5173'
        environment:
            WWWUSER: '${WWWUSER}'
            LARAVEL_SAIL: 1
            XDEBUG_MODE: '${SAIL_XDEBUG_MODE:-off}'
            XDEBUG_CONFIG: '${SAIL_XDEBUG_CONFIG:-client_host=host.docker.internal}'
            IGNITION_LOCAL_SITES_PATH: '${PWD}/only-client-crm'
        volumes:
            - './only-client-crm:/var/www/html/only-client-crm'
        networks:
            - sail
        depends_on:
            - mysql
            - redis
            - mailpit
            - minio
    service_booking.test-queue:
        build:
            context: ./docker/worker/service-booking
            dockerfile: Dockerfile
        command: php artisan queue:work --verbose --tries=3 --delay=3
        volumes:
            - './service-booking:/var/www/html/service-booking'
        depends_on:
            mysql:
                condition: service_healthy
        networks:
            - sail
        environment:
            WAIT_HOSTS: mysql:3306
            APP_ENV: ${APP_ENV}
            QUEUE_CONNECTION: ${QUEUE_CONNECTION}
            DB_HOST: ${DB_HOST}
            REDIS_HOST: ${REDIS_HOST}
    only_client_crm.test-queue:
        build:
            context: ./docker/worker/only-client-crm
            dockerfile: Dockerfile
        command: php artisan queue:work --verbose --tries=3 --delay=3
        volumes:
            - './only-client-crm:/var/www/html/only-client-crm'
        depends_on:
            mysql:
                condition: service_healthy
        networks:
            - sail
        environment:
            WAIT_HOSTS: mysql:3306
            APP_ENV: ${APP_ENV}
            QUEUE_CONNECTION: ${QUEUE_CONNECTION}
            DB_HOST: ${DB_HOST}
            REDIS_HOST: ${REDIS_HOST}
    mysql:
        image: 'mysql/mysql-server:8.0'
        ports:
            - '${FORWARD_DB_PORT:-3306}:3306'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: '%'
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
            MYSQL_EXTRA_OPTIONS: '${MYSQL_EXTRA_OPTIONS:-}'
        volumes:
            - 'sail-mysql:/var/lib/mysql'
            - './docker/mysql/create-testing-database.sh:/docker-entrypoint-initdb.d/10-create-testing-database.sh'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - mysqladmin
                - ping
                - '-p${DB_PASSWORD}'
            retries: 3
            timeout: 5s
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - 'mysql:mysql'
        ports:
            - '8080:80'
        environment:
            MYSQL_USERNAME: '${DB_USERNAME}'
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            PMA_HOST: mysql
            UPLOAD_LIMIT: 500M
        networks:
            - sail
    redis:
        image: 'redis:alpine'
        ports:
            - '${FORWARD_REDIS_PORT:-6379}:6379'
        volumes:
            - 'sail-redis:/data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - redis-cli
                - ping
            retries: 3
            timeout: 5s
    meilisearch:
        image: 'getmeili/meilisearch:latest'
        ports:
            - '${FORWARD_MEILISEARCH_PORT:-7700}:7700'
        environment:
            MEILI_NO_ANALYTICS: '${MEILISEARCH_NO_ANALYTICS:-false}'
        volumes:
            - 'sail-meilisearch:/meili_data'
        networks:
            - sail
        healthcheck:
            test:
                - CMD
                - wget
                - '--no-verbose'
                - '--spider'
                - 'http://127.0.0.1:7700/health'
            retries: 3
            timeout: 5s
    mailpit:
        image: 'axllent/mailpit:latest'
        ports:
            - '${FORWARD_MAILPIT_PORT:-1025}:1025'
            - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
        networks:
            - sail
    selenium:
        image: selenium/standalone-chromium
        extra_hosts:
            - 'host.docker.internal:host-gateway'
        volumes:
            - '/dev/shm:/dev/shm'
        networks:
            - sail
    minio:
        image: 'minio/minio:latest'
        ports:
            - '${FORWARD_MINIO_PORT:-9000}:9000'
            - '${FORWARD_MINIO_CONSOLE_PORT:-8900}:8900'
        environment:
            MINIO_ROOT_USER: '${AWS_ACCESS_KEY_ID}'
            MINIO_ROOT_PASSWORD: '${AWS_SECRET_ACCESS_KEY}'
        volumes:
            - 'sail-minio:/data'
        networks:
            - sail
        command: 'minio server /data --console-address ":8900"'
        healthcheck:
            test:
                - CMD
                - mc
                - ready
                - local
            retries: 3
            timeout: 5s
    minio-init:
        image: minio/mc:latest
        depends_on:
            minio:
                condition: service_healthy
        entrypoint: >
            sh -c "
            sleep 3;
            mc alias set local http://minio:9000 ${AWS_ACCESS_KEY_ID} ${AWS_SECRET_ACCESS_KEY};
            mc mb --ignore-existing local/local;
            mc anonymous set public local/local;
            "
        networks:
            - sail
    stripe:
        image: 'stripe/stripe-cli'
        networks:
            - sail
        command: 'listen --api-key ${STRIPE_SECRET} --forward-to only_client_crm.test/stripe/webhook'
        depends_on:
            - only_client_crm.test
networks:
    sail:
        driver: bridge
volumes:
    sail-mysql:
        driver: local
    sail-redis:
        driver: local
    sail-meilisearch:
        driver: local
    sail-minio:
        driver: local
